<!-- wp:template-part {"slug":"header","theme":"grocery-and-organic-store","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
  <!-- wp:pattern {"slug":"grocery-and-organic-store/cover-grid"} /-->
   <!-- wp:pattern {"slug":"grocery-and-organic-store/cta-product"} /-->  
  <!-- wp:pattern {"slug":"grocery-and-organic-store/trending-products-sidebar"} /-->

  <!-- wp:pattern {"slug":"grocery-and-organic-store/deal-of-the-week"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/cta-banner"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/product-grid"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/blogs"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/product-cover-grid"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/testimonial"} /-->
  <!-- wp:pattern {"slug":"grocery-and-organic-store/feature"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"grocery-and-organic-store","area":"footer"} /-->
